@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

html {
    font-size: 62.5%; /*1rem = 10pxにする*/
}

body {
    font-family: 'Sawarabi Gothic', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #0067C0;
    color: white;
    padding: 15px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

p {
    margin: 0;
    font-size: 10px;
}

.contents {
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #E0F1EF;
}

.title {
    text-align: center;
    font-size: 20px;
}

.item-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.item {
    flex: 1;
    max-width: 200px;
}

.itme h2 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.item img:hover {
    transform: scale(1.1);
}

.circle-guide {
    padding: 10px;
}

.circle-guide h2 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.circle-guide p {
    margin: 0;
    font-size: 10px;   
}

.links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

.link-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 300px;
    margin: 0 10px;
    text-align: center;
}

.link-card img {
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.link-card h2 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.link-card p {
    margin: 0;
    font-size: 14px;
}

.link-card img:hover {
    transform: scale(1.1);
}
