@charset 'utf-8';

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    background-color: #e2d1d6;
    font-family: "mizoletbokutoh", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #413337;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

/* モバイルでは非表示 */
.left, .right {
    display: none;
}
/*
header.header {
    top: 0;
    z-index: 100;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

div.inner-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0; 
    background-color: #e2d1d6;
}

img.header-logo {
    max-width: 200px;
}

nav.header-nav {
    display: flex;
    justify-content: right;
}

.head-button{
    width:130px;
    height:45px;
    line-height:45px;
    font-family: var(--font);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    text-wrap: nowrap;
    margin: 10px;
}

.head-button a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#413237;
    text-align:center;
    color:#FFFFFF;
    font-size: 14px;
    font-weight:bold;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    transition: all 0.1s ease;
}

.head-button a:hover{
    background:#413237;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:3px;
    box-shadow:none;
}
*/
div.center {
    order: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

article.area-fv {
    display: flex;
    justify-content: center;
}

div.inner-fv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2.title-fv {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 1rem 2rem;
    border-top: 6px double #413337;
    border-bottom: 6px double #413337;
    max-width: 380px;
}

h3.sub-title-fv {
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #e06666;
    -webkit-text-stroke: 2px #fff;
    text-stroke: 2px #fff;
    paint-order: stroke;
}

div.bg-container {
    position: relative;
    width: 380px;
    height: 300px;
    border-radius: 50px 0 50px 0;
}

.bg-container .fv {
    position: absolute;
    width: 380px;
    height: 300px;
    opacity: 0;
    animation: change-img-anim 50s infinite;
    border-radius: 45px;
}

.img-fit {
    object-fit: cover;
    object-position: bottom;
}

/* 各画像のアニメーション遅延設定 */
.bg-container .fv:nth-of-type(1) {
    animation-delay: 0s;
}
.bg-container .fv:nth-of-type(2) {
    animation-delay: 10s;
}
.bg-container .fv:nth-of-type(3) {
    animation-delay: 20s;
}
.bg-container .fv:nth-of-type(4) {
    animation-delay: 30s;
}
.bg-container .fv:nth-of-type(5) {
    animation-delay: 40s;
}

@keyframes change-img-anim {
    0% { opacity: 0; }
    4% { opacity: 1; }
    20% { opacity: 1; }
    24% { opacity: 0; }
    100% { opacity: 0; }
}

div.text-fv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 1rem 2rem;
    border-top: 6px double #413337;
    border-bottom: 6px double #413337;
    max-width: 380px;
}

h2.text-fv-title {
    position: relative;
    text-align: center;
    font-size: 24px;
  }
  
  h2.text-fv-title:before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 2px;
    content: '';
    border-radius: 3px;
    background: #413337;
  }

p.schedule {
    padding: 10px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    margin-top: 10px;
}

p.place {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}

article.campus-map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 6px double #413337;
    max-width: 380px;
}

div.head-campus-map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 380px;
}

h2.title-campus-map {
    text-align: center;
    font-size: 18px;
}

p.description-circleexpo {
    text-align: center;
    text-wrap: wrap;
    font-size: 14px;
    line-height: 18px;
    margin: 10px;
}

div.img-campus-map {
    display: flex;
    justify-content: center;
}

img.img-campus-map {
    margin: 10px;
}

article.watching {
    margin: 10px;
    max-width: 380px;
}

div.head-right {
    display: flex;
    justify-content: right;
    flex-direction: column;
}

h2.title-right {
    font-size: 18px;
    text-align: right;
}

span.bold {
    font-size: 22px;
    font-weight: bold;
}

h3.subtitle-right {
    font-size: 10px;
    text-align: right;
}

p.description {
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    margin: 10px;
}

h2.about-watching {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    position: relative;
}

div.img-schedule-watching {
    display: flex;
    flex-direction: column;
}

.accordion-001 {
    width: 100%; /* はみ出しを防ぐ */
    max-width: 380px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box; /* パディングを含めたサイズ計算 */
    overflow: hidden; /* はみ出し防止 */
    transition: all 0.3s ease;
    align-items: center;
}

.accordion-001 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: #413237;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    list-style: none;
    box-sizing: border-box; /* はみ出し防止 */
}

.accordion-001 summary::-webkit-details-marker {
    display: none;
}

.accordion-001 summary::after {
    content: '';
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.accordion-001[open] summary::after {
    transform: rotate(225deg);
}

/* 画像のスタイル */
.accordion-content {
    padding: 10px;
    text-align: center;
    width: 100%; /* はみ出しを防ぐ */
    box-sizing: border-box;
    max-width: 380px;
}

.img-schedule-watching {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

article.listenning {
    border-top: 6px double #413337;
    border-bottom: 6px double #413337;
    max-width: 380px;
}

div.head-left {
    padding: 1rem 0;
    display: flex;
    align-items: flex-start; /* 左端に配置 */
}

div.leftside-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 要素を右揃え */
}

h2.title-left {
    font-size: 18px;
    text-align: right; /* 行端を右揃え */
}

h3.subtitle-left {
    font-size: 10px;
    text-align: right; /* 行端を右揃え */
}

div.map-listenning {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img.img-arena-map {
    max-width: 380px;
    width: 100%;
    align-items: center;
}

div.button-center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-arena-map{
    width:240px;
    height:45px;
    line-height:45px;
}
.button-arena-map a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#FFFFFF;
    text-align:center;
    border:2px solid #413237;
    color:#413237;
    font-size:20px;
    font-weight:bold;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
}
.button-arena-map a:hover{
    background:#413237;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    border:2px solid #413237;
    box-shadow:none;
}



/* タブレット以上で表示＆固定 */
@media (min-width: 768px) {
    .left, .right {
        display: block;
        position: fixed; /* 画面に固定 */
        top: 0;
        height: 100vh; /* 画面の高さいっぱい */
    }

    .left {
        left: 0;
        width: 25%; /* 左側の幅 */
        background-image: url("images/bg-left.png");
        background-size: cover; /* 背景画像が要素全体に広がるように設定 */
    }

    .right {
        right: 0;
        width: 25%; /* 右側の幅 */
        background-image: url("images/bg-right.png");
        background-size: cover; /* 背景画像が要素全体に広がるように設定 */
    }

    .inner-frame {
        margin: 0 auto;
        width: 50%; /* 中央コンテンツの幅 */
        max-width: 960px;
    }
}

/* デスクトップサイズで調整 */
@media (min-width: 1200px) {
    .left, .right {
        width: 35%;
    }

    .left {
        background-image: url("images/bg-left.png");
        background-size: cover; /* 背景画像が要素全体に広がるように設定 */
    }

    .right {
        background-image: url("images/bg-right.png");
        background-size: cover; /* 背景画像が要素全体に広がるように設定 */
    }

    .inner-frame {
        width: 60%;
    }
}
